[submodule "src/corin"]
	path = src/corin
	url = git@github.com:EEEManchester/corin.git
	branch = dockerised-demo
[submodule "src/DynamixelSDK"]
	path = src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK
[submodule "src/robotis-framework"]
	path = src/robotis-framework
	url = https://github.com/EEEManchester/robotis-framework
